html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family:  'Space Mono', monospace;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
        box-sizing: border-box;
}

header ul {
    padding: 0;
    /*margin: 0 auto;*/
    width: fit-content;
}

header ul li {
    list-style: none;
    display: inline-block;
}

button {
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 2rem;

    transition: background-color 1s;
}

button:hover {
    background-color: #FFEB3B;
}

.clock {
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    font-weight: normal;
}

button:active, button:focus {
    outline: none;
}

header, section:not(#modal), form {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background-color: rgba( 255,255,255, .5 ); 
} 

form {
    opacity: .5;
}

form:hover {
    opacity: 1; 
}

fieldset {
    display: inline-block;
    margin: 24px 0;
    border: none;
}

input {
    width: 77px;
    border: none;
}

input#minutes { text-align: right; }
input#seconds { text-align: left; }


input:focus { 
    outline: none;
}

input:active, input:focus {
    border-bottom: dashed 3px lightgray;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

#timers {
    padding: 0;
}

#timers li {
    list-style: none;
    border-bottom: dashed 3px lightgray;
}

#timers li h2 {
    display: inline-block;
    padding: 0 60px;
}

#about {
    max-width: 500px;
}

#empty-state {
    display: none;
}

#empty-state.show {
    display: block;
}


/*       modal styles       */
#modal {
    display: none;

    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
    font-size: 5rem;
    color: white;
    overflow: auto;
}

#modal.show {
    display: block;
    position: fixed;
    z-index: 3;
}

#modal h1 {
    font-weight: normal;
    text-transform: uppercase;
}

#modal h1:focus {
    outline: none;
}

#modal .clock {
    font-size: 8rem;
}

#modal button {
    background-color: inherit;
}

#fruit-bowl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#fruit-bowl.show {
    height: 100%;
    width: 100%;
}

#fruit-bowl div {
    display: block;
    position: fixed;
    animation: fall 2s ease-out 1 forwards;
}

@keyframes fall {
    0% { top: 0 }
    100% { top: 800px }
}

@media only screen and ( min-width: 800px ) {
    header {
        margin-top: 10%;
    }
}