html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family:  'Space Mono', monospace;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

button {
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 2rem;

    transition: background-color 1s;
}

button:hover {
    background-color: #FFEB3B;
}

#modal button {
    background-color: inherit;
}

button:active, button:focus {
    outline: none;
}

form {
    width: fit-content;
    margin: 0 auto;
}

fieldset {
    display: inline-block;
    margin: 24px 0;
    border: none;
}

input {
    width: 77px;
    border: none;
}

input#minutes { text-align: right; }
input#seconds { text-align: left; }


input:focus { 
    outline: none;
}

input:active, input:focus {
    border-bottom: dashed 3px lightgray;
}

#timers {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}

#timers li {
    list-style: none;
    border-bottom: dashed 3px lightgray;
}

#timers li h2 {
    display: inline-block;
    padding: 0 60px;
}

.clock {
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    font-weight: normal;
}


#modal {
    display: none;

    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
    font-size: 5rem;
    color: white;
}

#modal.show {
    display: block;
    position: fixed;
}

#modal h1 {
    font-weight: normal;
    text-transform: uppercase;
}

#modal h1:focus {
    outline: none;
    
}

#modal .clock {
    font-size: 8rem;
}